*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

} /*to remove the unexpected spaces*/
html{
    font-size : 18px;
    font-family: 'Barlow';
}
a{
    text-decoration: none;/*to remove underline from anchor tag*/
}

.container{
    height: fit-content;/*viewport height*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;

}

/* hero section */
#hero h1 {
background-image: url(/images/desktop/image-header.jpg);
height: 100vh;
width: 100%;
background-position: top center;
background-repeat: no-repeat;
color: white;
font-weight: 900;
text-transform: uppercase;
text-align: center ;
padding-top: 150px;
font-size: 2.5rem;
letter-spacing: 0.3rem;
}
/* end of hero section */

/* content section */
#content{
    display: flex;
    flex-direction: row;
}

#content h1{
    font-size: 1rem;
}

#content .content1{
    width: 50%;
    
}
#content .content2{
    width: 50vh;
    height: 60vh;
    background-image: url(/images/desktop/image-transform.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

}
#content .content3{    
    width: 50%;
}
#content .content4{
    width: 50%;

}
#content .content5{    
    width: 50%;
}
#content .content6{
    width: 50%;

}
/* end of content section */