*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

} /*to remove the unexpected spaces*/
html{
    font-size : 18px;
    font-family: 'Barlow', sans-serif;

}
html h1{
    font-family: 'Fraunces', serif;
}
a{
    text-decoration: none;/*to remove underline from anchor tag*/
}

.container{
    height: fit-content;/*viewport height*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;

}

/* hero section */
#hero h1 {
background-image: url(images/desktop/image-header.jpg);
height: 100vh;
width: 100%;
background-position: top center;
background-repeat: no-repeat;
color: white;
font-weight: 900;
text-transform: uppercase;
text-align: center ;
padding-top: 150px;
font-size: 2.5rem;
letter-spacing: 0.3rem;
}
/* end of hero section */

/* content section */
#content .content {
    width: 100%;
    height: fit-content;
    align-content: left;
}

#content h1{
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 20px;

}
#content p{
    padding-bottom: 40px;
}
#content a{
    border-bottom: solid 5px palegoldenrod;
    text-transform: uppercase;
    font-weight: 600;
    color: hsl(220, 5%, 12%);
    font-family: "fraunces", sans-serif;
}
#content a:hover{
    border-bottom: solid 5px yellow;
    color: grey;
    
}
#content .content .container{
    display: inline-block;
    margin: 0px;
    height:90vh;
    width: 631.5px;
    overflow: hidden;
    float: left; 
    text-align: left;
    padding: 120px;
}

#content .content1{
    background-color: white;
}
#content .content2{
    
    
    background-image: url(images/desktop/image-transform.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
    

    

}

#content .content3{    
   
    background-image: url(images/desktop/image-stand-out.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
#content .content4{
    
    background-color: white;
}
#content .content5{    
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
#content .content6{
    background-image: url(images/desktop/image-photography.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

} 
#content .content6, .content5{
    padding-top: 300px !important; 
    color: rgb(51, 46, 46);
    text-align: center !important;
}

/* end of content section */

/* client section */
#client .client{
    padding: 50px;
    width: 100%;
    text-align: center;
}
#client h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 50px 50px 50px 0px;
    letter-spacing: .5rem;
    color: gray;
    padding-bottom: opx;
}
#client .container{
    display: inline-block;
    width: 350px;
    height: 70vh;
    padding: 50px;
    text-align: center;
    padding-top: 80px;
    
}
#client img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
}
#client p{
    padding: 15px;
    padding-bottom: 50px;
}
#client h2{
    font-size: 1.2rem;
    font-weight: 650;
    color: rgb(32, 32, 117);
    padding-bottom: 10px;
}
#client h3{
    font-size: 1rem;
    font-weight: 500;
}
/* end of client section */

/* images section */
#images .image{
    /* text-align: center;  */
    width: 100%;
}
#images img{
    display: flexbox;
    float: left;
    height: 410px;
    width: 315.8px;
}
/* end of images section */

/* footer section */
.footer{
    background-color: hsl(168, 49%, 59%); 
    text-align: center; 
}

.footer .company{
    color: hsl(167, 32%, 23%);
    padding: 30px;
    padding-bottom: 0px;
    
}
.footer .f_menu li{
    display: inline-block;
    margin: 30px;
    list-style-type: none;
    color: hsl(35, 17%, 73%);
}
.footer .f_menu a{
    color: hsl(167, 32%, 23%);
    font-weight: 550;
}
.footer .f_menu li a:hover, a:visited{
    color: hsl(36, 42%, 95%);
}
.footer .socials img{
    display: inline-block;
    margin: 30px 10px 30px 10px;
}

/* end of footer section */

/* menu tab section */
#menu .menu_tab{
    display: inline-block;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#menu h1{
    font-family: "Barlow", serif;
    float: left;
    color: white;
}

#menu .menu_tab li{
    display: flexbox;
    float: right;
    height: 50px;
    width: 80px;
    list-style-type: none;
    text-align: center;
    color: white;
}
span{
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 10;
}
span:hover{
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    transition: .5s ease background-color;
    transition-property: background-color, color;
}
/* end of menu tab section */
